<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    {{!-- {{#with Products}} --}}
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Product image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each productInfo}}
                        <tr>
                            <th scope="row">1</th>
                            <td><img src="/images/product_images/{{this._id}}.jpg" alt="unable to display image"
                                    width="80px" height="auto"></td>
                            <td>{{this.name}}</td>
                            <td><a href="#" class="btn btn-primary mr-3">-</a> 1 <a href="#"
                                    class="btn btn-primary ml-3">+</a></td>
                            <td>{{this.price}}</td>
                            <td><a href="#" class="btn btn-danger"
                                    onclick="return confirm('Are you sure to remove {{this.name}} from the cart')">Remove</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <h5>Items in cart 0</h5>
            </div>
        </div>
    </div>
</section>